* {
    margin: 0;
    padding: 0;
}

$myFont: 'Times New Roman', Times, serif;

body {
    min-height: 100vh;


}

nav {
    font-family: $myFont;

    li {
        padding: 20px;
    }
}

.integrantes {
    text-align: center;
}

.logo {

    width: 60px;
    filter: invert(100%);

}


h1 {
    font-family: $myFont;
    color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    font-family: $myFont;
}

h3 {

    background-color: yellow;
    display: inline;
    font-family: $myFont;

}

.img-fluid {
    margin: 100px auto;
    border: 1px solid black;

    transition: .2s;

    &:hover {

        transform: scale(1.2)
    }
}

.poemas {

    display: flex;
    flex-direction: row;
    white-space: pre-line;
    justify-content: center;
    text-align: center;

}

.poetaimg {

    border-radius: 100%;
    height: 300px;
    width: 300px;
    transition: .2s;

    &:hover {

        transform: scale(1.2)
    }
}


.poema {

    width: 300px;
    margin: 100px;
    margin-top: 0px;
    font-family: $myFont;

}

footer {
    margin: auto;
    margin-top: 100px;
}

.redes {

    display: flex;
    justify-content: center;


}

.fa {

    padding: 30px;
}

.linea {
    border-top: 1px solid black;
    height: 50px;
    max-width: 500px;
    margin: auto;
    margin-top: 300px;
}

.btn {
    border: 1px solid black;
    background-color: lightgreen;

}

.cards {
    display: flex;
    flex-direction: row;
    font-family: $myFont;
}

.card {
    margin: auto;
    margin-top: 100px;
}

article {

    text-align: justify;
    font-family: $myFont;
    font-size: large;
    margin: 0 auto;
    margin-top: 100px;

}

@media (max-width: 1200px) {

    .poemas {

        flex-direction: column;
        align-items: center;
    }

    .cards {
        flex-direction: column;
    }

    h3 {
        text-align: center;
        display: block;
    }
}