* {
    margin: 0;
    padding: 0;
}

$mapa1: (
    /*Declaramos nuestro mapa*/
    cursive: red,
    serif: orange,
    fantasy: blue,
    monospace: green,

);


@each $sizes,
$colours in $mapa1 {
    .maps-#{$colours} {
        border: 1px solid black;
        font-size: 30px;
        color: $colours;
        font-family: $sizes;
        margin: auto;
        width: 200px;

    }
}

$myFont: Garamond, serif;

body {
    min-height: 100vh;


}

nav {
    font-family: $myFont
}

.integrantes {
    text-align: center;
}

.logo {

    width: 60px;
    filter: invert(100%);

}

h1 {
    font-family: $myFont;
    color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    font-family: $myFont;
}

h3 {

    background-color: yellow;
    display: inline;
    font-family: $myFont;

}

.img-fluid {
    margin: 100px auto;
    padding: 10px;

    transition: .2s;

    &:hover {

        transform: scale(1.2)
    }
}

.poemas {

    display: flex;
    flex-direction: row;
    white-space: pre-line;
    justify-content: center;
    text-align: center;

}

.poetaimg {

    border-radius: 100%;
    height: 300px;
    width: 300px;
    transition: .2s;

    &:hover {

        transform: scale(1.2)
    }
}


.poema {

    width: 300px;
    margin: 100px;
    margin-top: 0px;
    font-family: $myFont;

}

footer {
    margin: auto;
    margin-top: 100px;
}

.redes {

    display: flex;
    justify-content: center;


}

.fa {

    padding: 30px;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 500px;
    padding: 0;
    margin: 1px auto 0 auto;

}

.btn {
    border: 1px solid black;
    background-color: lightgreen;

}

.cards {
    display: flex;
    flex-direction: row;
    font-family: $myFont;
}

.card {
    margin: auto;
}

@media (max-width: 1200px) {

    .poemas {

        flex-direction: column;
        align-items: center;
    }

    .cards {
        flex-direction: column;
    }
}