* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

}


.logo {

    width: 60px;

}

h3 {

    background-color: yellow;
    display: inline;

}

.poemas {

    display: flex;
    flex-direction: row;
    white-space: pre-line;
    justify-content: center;
    text-align: center;


}

.poetaimg {

    border-radius: 100%;
    height: 300px;
    width: 300px;
    border: 5px solid lightgreen;

}

.poema {

    width: 300px;
    margin: 100px;
    margin-top: 0px;


}

footer {
    text-align: center;
    margin-top: 100px;
}

.redes {
    height: 90px;
    padding: 30px;

}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 500px;
    padding: 0;
    margin: 1px auto 0 auto;

}

.card {

    margin: auto;

}

.btn {
    border: 1px solid black;
    background-color: lightgreen;
}

@media (max-width: 1200px) {

    .poemas {

        flex-direction: column;
        align-items: center;
    }
}